@media only screen and (max-width: 600px) {
  .gridbox {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-chart {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .searchbar {
    display: none;
  }
  .searchbtn {
    display: none;
  }
  .checkbtn {
    top: -42px;
    left: 310px;
  }
  .user {
    right: 90px;
  }
  .box-1 .view-1
i {
    margin-left: 10%;
  }
  .box-2 .view-2
i {
    margin-left: 10%;
  }
  .box-3 .view-3
i {
    margin-left: 10%;
  }
  .box-4 .view-4
i {
    margin-left: 10%;
  }
  .bottom {
    display: block;
    line-height: 1.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .grid-chart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .gridbox {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
